.about-us {
    padding-top: 0;
}

.title {
    font-weight: var(--main-title-fw);
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    margin-bottom: 50px;
}

.about-us__list {
    display: flex;
    gap: var(--card-set-gap);
}

.about-us__item {
    position: relative;
}


.about-us__text {
    font-weight: var(--main-title-fw);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    padding-top: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
}
