.clients__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
}
.clients__title {
    margin-bottom: 30px; 
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
}
.clients__item {
    width: calc((100% - 30px) / 2);
}
.clients__item:not(:last-child) {
    margin-right: 0px;
}

.clients__link {
    width: auto;
    min-height: 72px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    &:hover, &:focus {
    border-color: var(--accent-color);
    }
}
