.footer {
    background: var(--hero-footer-clr);
    padding-top: 60px;
    padding-bottom: 60px;
    >.container {
    display: flex;
    align-items: baseline;
    }
}

.footer__address {
    font-style: normal;
}

.footer__address-address {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white);
}

.footer__address-link {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer__logo {
    font-family: var(--secondary-font), sans-serif;
    font-weight: var(--main-title-fw);
    font-size: var(--big-fs);
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--white);
    text-decoration: none;
}

.footer__address-list {
    margin-top: 20px;
}

.footer__address-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__container {
    margin-left: 70px;
}

.footer__list {
    display: flex;
}

.footer__item:not(:last-child) {
    margin-right: 10px;
}

.footer__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    background-color: var(--accent-color);
    fill: var(--white);
    }
}


.footer__title {
    font-style: normal;
    font-weight: var(--main-title-fw);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 20px;
}

.footer__input-container {
    margin-left: auto;
}

.footer__subscribe {
    display: flex;
}

.footer__input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
    cursor: rgba(255, 255, 255, 0.6);
    width: 358px;
    height: 50px;
    margin-right: 12px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: var(--accent-color);
    }
    &::placeholder {
        font-weight: var(--text-fw);
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}


.footer__btn {
    display: flex;
}

.footer__btn-icon {
    fill: var(--white);
}

.footer__send-span {
    margin-left: 10px;
    height: 24px;
}

.footer__form {
    display: flex;
}