.hero {
    background-color: var(--hero-footer-clr);
    padding: 118px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/header_mob.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;

    @include retina {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-mob-2x.jpg);
        background-position: center;
    }
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    @include tablet {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-tab.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include retina {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-tab-2x.jpg);
    }
    }
    @include desktop {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include retina {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-des-2x.jpg);
    }
    }
    @include desktop {
    padding: 200px 0;
    }
}


.hero__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    height: 84px;
    min-height: 84px;
    @media screen and (min-width:390px) {
        font-size: 26px;
        width: 360px;
    }
    @include desktop {
        font-size: 44px;
        min-width: 696px;
    }
}

.hero__btn {
    font-family: inherit;
    font-weight: var(--main-title-fw);
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    box-sizing: border-box;
    border-color: transparent;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    align-content: center;
    margin: 0;
    width: 200px;
    height: 50px;
    justify-content: center;
    border-radius: 4px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover, &:focus {
        background: var(--btn-second-color);
    }
    @media screen and (max-width: 479px) {
        width: 50%;
        max-width: 200px;
        max-height: 50px;
        font-size: 13px;
        height: 40px;
    }
    @media screen and (min-width: 420px) {
        font-size: 15px;
    }
    @include mobile {
        font-size: 16px;
    }
}