.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}


.backdrop__modal {
    background-color: #fff;
    width: 528px;
    min-height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.backdrop__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backdrop__close {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    right: 8px;
    top: 8px;
    position: absolute;
    /* padding: 5px 7px 5px 6px; */
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        fill: var(--accent-color);
    }
}


.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop__title {
    font-weight: var(--main-title-fw);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.backdrop__input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border: 1px solid var(--accent-color);
    }
    &:focus+.backdrop__svg {
        fill: var(--accent-color);
    }
}

/* .modal-input:not(:last-child) {
    margin-bottom: 10px;
} */
.backdrop__text-area {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    display: block;
    resize: none;
    outline: transparent;
    margin-top: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border: 1px solid var(--accent-color);
    }
    &::placeholder {
        font-weight: var(--text-fw);
        font-size: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.backdrop__label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}


.backdrop__checkbox {
    margin-top: 20px;
    margin-bottom: 30px;
}

.backdrop__text {
    font-weight: var(--text-fw);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
}

.backdrop__check {
    cursor: pointer;
    &:checked + .backdrop__text span {
        background-color: var(--accent-color);
        border: none;
    }
    &:focus + .backdrop__text span {
        border-color: var(--accent-color);
    }
    &:checked + .backdrop__text span .check-icon {
        fill: var(--white);
    }
}

.checkbox-span {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    cursor: pointer;
    border: 2px solid #212121;
    border-radius: 2px;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.check-icon {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
}



.backdrop__link {
    font-weight: var(--text-fw);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: underline;
    color: var(--accent-color);
    margin-left: 3px;
}



.backdrop__field:not(:last-child) {
    margin-bottom: 10px;
}

.input-wrap {
    position: relative;
    margin-top: 4px;
}

.backdrop__svg {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-icon {
    fill: #000000;
}