.team {
    background-color: var(--main-button-color);
}

.team__main-list {
    display: flex;
    gap: var(--card-set-gap);
}

.team__title {
    margin-bottom: 50px;
}

.team__name {
    font-weight: var(--secondary-title-fw);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
}

.team__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-top: 10px;
}

.team__item {
    width: calc((100% - 60px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
}

.team__card-content {
    padding-top: 30px;
    padding-bottom: 16px;
}

.team__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.team__soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {

    background-color: var(--accent-color);
    fill: var(--white);
    }
}
